<!-- templates/auth_base.html -->
{% load static %}
<html>
    <head>
        <title>Dooittt</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200&family=Poppins:wght@100;200;400&family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <style>
            body{
             background: #f6f6f6;
             color: black;
             font-family: 'Ubuntu', sans-serif;
             padding-top: 50px;
             text-align: center;
            }
            a{
                font-weight: 700;
            }
            .header-bar{
                display: flex;
                justify-content: center;
                color: #fff;
                padding: 10px;
                border-radius: 5px 5px 0 0;
                background: linear-gradient(90deg, #a9a09e 0%, #837978 43%, #484343 100%);
            }

            .header-bar a{
                color: white;
                cursor: pointer;
                text-decoration: none;
            }
            .header-bar a:hover{
                color: #a0c0c0;
            }
            .container{
                max-width: 550px;
                margin: auto;
                background: transparent;
                -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
                box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
             }
            .task-wrapper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #fff;
                border-top: 1px solid #dfe4ea;
                overflow: hidden;
                margin: auto 10%;
            }
            .task-title {
                display: flex;
                padding: 20px;
            }
            .task-title a{
                text-decoration: none;
                margin-left: 10px;
            }
            .task-title a:visited{
              color: #1d1d5b;
            }
            .task-complete-icon{
                height: 15px;
                width: 15px;
                border-radius: 50%;
                background-color: #096b09;
            }
            .task-incomplete-icon {
                height: 15px;
                width: 15px;
                background-color: black;
                border-radius: 50%;
            }
            .delete-link {
            text-decoration: none;
            font-weight: 900;
            color: #b70707;
            font-size: 22px;
            line-height: 0;
            padding: 20px 0px;
            }
            input[type=text],
            input[type=password],
            textarea {
                border: 0.3px solid #757575;
                border-radius: 5px;
                padding: 10px;
                width: 90%;
            }
            .button {
                border: none;
                background-color: #c5c1c1;
                color: #000000;
                padding: 10px;
                font-size: 14px;
                cursor: pointer;
                text-decoration: none;
                margin-bottom: 20px;
                border-radius: 5px;
            }
            .button:hover{
                 background: #d2d2d2;
                 transition: 0.4s ease-in-out;
                 opacity: 80%;
                 background-color: #b6b6b6;
                 transform: translateY(-1px);
             }
            .card-body {
                padding: 20px;
             }
            #add-link{
                text-decoration: none;
                color: #111156;
                cursor: pointer;
            }
             @media screen and (max-width:320px) {
            #search-add-wrapper {
                padding: 10px;
            }
        }
        </style>
    </head>
    <body>
      
        <div class="container">
            <div class="brand">
                <b><h1>Dooittt</h1></b>
            </div>
            {% block content %}
            {% endblock content %}
        </div> 
    </body>
</html>