<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% extends 'auth_base.html' %}
    {% block content %}
    <div class="header-bar">
        <h1>Login</h1>
    </div>


    <form method="POST">
        {%  csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login">

    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    <p><a href="{% url 'home' %}">Back to Home</a></p>
    {% endblock content %}
</body>
</html>